<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="loginUser">
SELECT * 
  FROM USERS 
 WHERE USER_ID = ? 
   AND USER_PWD = ? 
   AND USER_ROLE != 5
</entry>

<entry key="insertUser">
INSERT 
  INTO USERS(USER_NO, USER_ID, USER_PWD, USER_NAME, EMAIL) VALUES(USER_NO_SEQ.NEXTVAL, ?, ?, ?, ?)

</entry>

<entry key="updateUser">
	UPDATE
		       USERS
		   SET USER_NAME=?
		     , EMAIL=?
		     , USER_NICKNAME=?
		     , PHONE=?
		     , ADDRESS=?
		     , SNS=?
		     , USER_INFO=?
		     , USER_AVATAR_SRC=?
		 WHERE USER_ID=?

</entry>


<entry key="selectUser">
SELECT * 
  FROM USERS 
 WHERE USER_ID = ? 
   AND USER_ROLE != 5

</entry>


<entry key="updatePwdUser">
UPDATE 
    	   USERS
	   SET USER_PWD=?
	 WHERE USER_ID=?
	   AND USER_PWD=?

</entry>


<entry key="deleteUser">
	UPDATE
	        USERS
	    SET USER_ROLE = 5
	  WHERE USER_ID=?
	    AND USER_PWD=?
</entry>


<entry key = "idCheck">
		
		SELECT
		       COUNT(*)
		  FROM USERS
		 WHERE USER_ID = ?
			
</entry>

<entry key = "selectQnaList">
select *
  from QNAS
 where ANS_CONTENT is not null and QUSER_NO = ?

</entry>


<entry key = "selectQnaNList">
select *
  from QNAS
 where ANS_CONTENT is null and QUSER_NO = ?

</entry>

<entry key = "selectAllQnaList">
select *
  from QNAS
 where QUSER_NO = ?

</entry>	
	

</properties>
