<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectNoticesList">
		SELECT *
		  FROM NOTICES
		 ORDER
		    BY NOTICE_CREATEDAT DESC
	</entry>
	
	
	
	<entry key="selectFaqsList">
		SELECT *
		  FROM FAQS
		 ORDER
		    BY FAQ_CREATEDAT DESC
	</entry>
	
	
	<entry key="selectQnasList">
	
	</entry>	
</properties>