<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectNoticesList">
		SELECT *
		  FROM NOTICES
		 ORDER
		    BY NOTICE_CREATEDAT DESC
	</entry>
	
	
	
	<entry key="selectFaqsList">
		SELECT *
		  FROM FAQS
		 ORDER
		    BY FAQ_CREATEDAT DESC
	</entry>
	
	
	<entry key="insertQna">
		INSERT
		  INTO QNAS
		  (
		     QUE_ID
		   , QUE_TITLE
		   , QUE_CONTENT
		   , QUSER_NO
		  )
		  VALUES
		  (
		     QUE_ID_SEQ.NEXTVAL
		   , ?
		   , ?
		   , ?
		  )
	
	</entry>	
</properties>