<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
	
	<entry key="selectNoticeslist">
		SELECT *
		  FROM NOTICES
		 ORDER
		    BY NOTICE_CREATEDAT DESC
	</entry>
	
	<entry key="insertNotices">
		INSERT
		  INTO NOTICES
		  (
		    NOTICE_ID
		  , NOTICE_TITLE
		  , NOTICE_CONTENT
		  , USER_NO
		  )
		  VALUES
		  (
		    SEQ_NID.NEXTVAL
		  , ?
		  , ?
		  , ?
		  )
	</entry>
	
	<entry key="selectFaqsList">
		SELECT *
		  FROM FAQS
		 ORDER
		    BY FAQ_CREATEDAT DESC
	</entry>
	
	<entry key="insertFaqs">
	
	</entry>
	
	<entry key="selectQnasList">
	
	</entry>

	<entry key="insertQnas"></entry>	
</properties>