<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../../../assets/css/index.css" />
    <link rel="stylesheet" href="../../../assets/css/common.css" />
    <link rel="stylesheet" href="../../../assets/css/mypage/common.css" />
    <link rel="stylesheet" href="../../../assets/css/mypage/apply.css" />
  </head>
  <body>
    <header class="header--container">
      <div class="header--box">
        <a href="#">
          <img src="../../../assets/images/logo.png" width="250px" alt="" />
        </a>
        <div class="header--right">
          <a href="">LOGIN</a>
          <a href="">SIGNUP</a>
        </div>
      </div>
    </header>
    <main class="main--container">
      <ul class="navigation--main">
        <a href="">
          <li>PICFEED</li>
        </a>
        <a href="">
          <li>PICSHOP</li>
        </a>
        <a href="">
          <li>ABOUT</li>
        </a>
      </ul>
      <!-- 여기에 컨텐츠 작성 -->
      <div class="mypage-container">
        <div class="mypage-left">
          <div class="title">
            <h5>MYPAGE</h5>
          </div>
          <!-- 마이페이지 컨텐츠 -->
          <div class="label">
            작가신청조회
            <em></em>
          </div>

          <div class="apply--process">
            <li>신청</li>
            <i class="fas fa-angle-right"></i>
            <li>검토중</li>
            <i class="fas fa-angle-right"></i>
            <li>승인</li>
            <i>
              <div></div>
            </i>
            <li>거절</li>
          </div>
          <div class="apply--result">
            <h1>축하합니다🎉</h1>
            <p>DEVELOPIC의 작가가 되셨습니다.</p>
            <span>이제 작품을 판매할수 있습니다.</span>
          </div>
          <!-- 아니면 -->
          <div class="apply--result">
            <h1>죄송합니다😢</h1>
            <p>승인이 거절되었습니다.</p>
            <span>거절사유 : 작품이 10개 이하입니다.</span>
          </div>
        </div>
        <div class="mypage-right">
          <!-- 네비게이션바 -->
          <ul class="right-nav">
            <li>
              <a href="myinfo.html">▷개인정보수정</a>
            </li>
            <li>
              <a href="likelist.html">▷좋아요목록</a>
            </li>
            <li>
              <a href="buylist.html">▷구매내역</a>
            </li>
            <li>
              <a href="cart.html">▷장바구니</a>
            </li>
            <li>
              <a href="#" class="nav--active">▷작가신청결과 OR</a>
            </li>
            <li>
              <a href="selllist.html">▷판매내역</a>
            </li>
            <li>
              <a href="commentList.html">▷나의 댓글 목록</a>
            </li>
            <li>
              <a href="qnaList.html">▷1:1문의내역</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- 여기까지 -->
    </main>
  </body>
</html>
