<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../assets/css/index.css">
    <link rel="stylesheet" href="../../../assets/css/common.css">
    <link rel="stylesheet" href="../../../assets/css/mypage/userinfo.css">
</head>
<body>
    <header class='header--container'>
        <div class="header--box">
            <a href="#">
                <img src='../../assets/images/logo.png' width="250px" alt="" />
            </a>
            <div class="header--right">
                <a href="">LOGIN</a>
                <a href="">SIGNUP</a>
            </div>
        </div>
    </header>
    <main class='main--container'>
        <ul class='navigation--main'>
            <a href="">
                <li>PICFEED</li>
            </a>
            <a href="">
                <li>PICSHOP</li>
            </a>
            <a href="">
                <li>ABOUT</li>
            </a>
        </ul>
        <!-- 여기에 컨텐츠 작성 -->
        <div class="mypage-container">
            <div class="mypage-left">
                <div class='title'>
                    <h5>MYPAGE</h5>
                </div>
                <!-- 마이페이지 컨텐츠 -->
                <div class="label">
                    개인정보관리
                    <em />
                </div>
            </div>
            <div class="mypage-right">
                <!-- 네비게이션바 -->
                    <ul class="mypage-nav">
                        <li>
                            <a href="">1</a>
                        </li>
                        <li>
                            <a href="">2</a>
                        </li>
                        <li>
                            <a href="">3</a>
                        </li>
                        <li>
                            <a href="">4</a>
                        </li>
                    </ul>
            </div>
        </div>
        <!-- 여기까지 -->
    </main>
</body>
</html>