<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../assets/css/index.css" />
    <link rel="stylesheet" href="../../../assets/css/common.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="modal--container">
      <div class="modal--box">
        <div class="label">
          PICSTORY
          <em></em>
        </div>
        <div class="modal--picstory">
          <li>
            <label><input type="checkbox" name="picstory" />1번</label>
          </li>
          <li>
            <label><input type="checkbox" name="picstory" />2번</label>
          </li>
          <li>
            <label><input type="checkbox" name="picstory" />3번</label>
          </li>
        </div>
        <div class="gap"></div>
        <div class="gap"></div>
        <div class="modal--picstory-form">
          <div class="modal--picstory-box">
            <div class="modal--sub-title">이름</div>
            <input type="text" placeholder="픽스토리 이름을 입력해주세요" />
            <button class="btn btn-green">ADD</button>
          </div>
          <div class="gap"></div>
          <div class="modal--btn-box" style="margin-left: 111px">
            <button class="btn">뒤로</button>
            <button class="btn btn-yellow">확인</button>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
