<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/index.css">
    <link rel="stylesheet" href="../../../assets/css/common.css">
    <title>Document</title>
</head>
<body>
    <div class="modal--container">
        <div class="modal--box">
            <h1>🚔 신고하시겠습니까?</h1>
            <div class="gap"></div>
            <input type="text" class="modal--input">
            <div class="gap"></div>
            <div class="modal--btn-box">
                <button class="btn">취소</button>
                <button class="btn btn-yellow">신고</button>
            </div>
        </div>
    </div>
</body>
</html>