<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/index.css">
    <link rel="stylesheet" href="../../../assets/css/common.css">
    <title>Document</title>
</head>
<body>
    <div class="modal--container">
        <div class="modal--box">
            <div class="label">
                1:1 Q&A
                <em ></em>
            </div>
            <div class="gap"></div>
            <h1>제목</h1>
            <input type="text" class="modal--input">
            <div class="gap"></div>
            <h1>내용</h1>
            <textarea name="content"></textarea>
            <div class="modal--info">운영시간: AM 10:00 ~ PM 12:00 / PM 1:00 ~ PM 5:00</div>
            <div class="gap"></div>
            <div class="modal--btn-box">
                <button class="btn">취소</button>
                <button class="btn btn-yellow">등록</button>
            </div>
        </div>
    </div>
</body>
</html>