/* div,
table {
  border: 1px solid salmon;
} */
.buy--container {
  display: flex;
  width: 1220px;
  margin: 0 auto;
}
.buy-gap {
  height: 30px;
}
.buy--body {
  width: 85%;
}
.buy--navi {
  width: 15%;
}
.buy--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*------ .buy--upload ------*/

.buy--upload h2,
.buy--info h2 {
  font-size: 27px;
  font-weight: bold;
}
.buy--upload h2::after,
.buy--info h2::after {
  content: "";
  display: block;
  width: 70px;
  border-bottom: 5px solid #ffca3e;
  margin-top: 10px;
}
.buy--upload .buy--fileWrapper {
  display: flex;
  flex-wrap: wrap;
}
.buy--fileWrapper input[type="text"] {
  border: 1px solid #006064;
  /* display: block; */
}
.buy--fileWrapper .buy--fileBtnWrapper {
  position: relative;
}
.buy--fileWrapper > * {
  position: absolute;
}

.buy--upload p {
  font-size: 17px;
}
.buy--upload img {
  margin-top: 10px;
  max-width: 50%;
  max-height: 400px;
}

/*------ .buy--info ------*/

.buy--info label {
  font-size: 20px;
  font-weight: bolder;
}
.buy--info table th {
  text-align: left;
  width: 100px;
}
.buy--info input {
  border: none;
  border-bottom: 2px solid black;
  width: 300px;
}
.buy--info table tr {
  height: 50px;
}
.buy--info table button {
  display: inline;
}
/* .buy--info > button {
  display: inline;
  margin: auto;
  right: 0;
  align-items: right;
} */
.buy--info .buy--btnWrapper {
  display: flex;
  justify-content: flex-end;
}
.buy--btnWrapper button {
  display: inline;
}
