@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
body {
  background: #ffca3e;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
a {
  color: black;
  text-decoration: none;
}
.header--container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}
header .header--box {
  width: 1300px;
  margin: 0 auto;
  height: 90px;
  box-sizing: border-box;
  padding: 0 50px;
  display: flex;
  align-content: center;
  justify-content: space-between;
  transition: all 0.3s;
}
header .header--box a {
  display: flex;
  align-items: center;
}

header .header--right {
  display: flex;
  align-items: center;
  color: #006064;
  font-size: 20px;
}
header .header--right a {
  text-decoration: none;
  margin-right: 20px;
}
header .header--right i {
  font-size: 27px;
  cursor: pointer;
  z-index: 9999;
}

/* 메인영역 */
.main--container {
  background: #fff;
  margin: 90px auto;
  padding: 40px 0;
  box-sizing: border-box;
  width: 1300px;
  box-shadow: 0 0 30px #737373;
  position: relative;
}
.navigation--main {
  width: 30%;
  height: 30px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 30px;
  z-index: 15;
}
.navigation--main a {
  color: black;
  text-decoration: none;
}
.navigation--main li {
  font-size: 20px;
  line-height: 1.5;
  cursor: pointer;
}

.btn {
  width: 150px;
  height: 45px;
  font-size: 14px;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  color: white;
}
.btn-yellow {
  background: #ffca3e;
  color: black;
}
.btn-green {
  background: #006064;
}
.btn-pink {
  background: #ed8074;
}

.btn-blue {
  background: #001c67;
}
.btn-small {
  width: 100px;
  height: 35px;
}
.btn-long {
  width: 200px;
}
.btn-outline-pink {
  background: #fff;
  border: 2px solid #ed8074;
  color: #ed8074;
}
.btn-outline-yellow {
  background: #fff;
  border: 2px solid #ffca3e;
  color: #ffca3e;
}
.btn-outline-green {
  background: #fff;
  border: 2px solid #006064;
  color: #006064;
}
/* 라벨 */
.label {
  height: 35px;
  font-size: 20px;
  line-height: 1.5;
  font-size: 25px;
  margin-bottom: 20px;
  position: relative;
}
.label em {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 2px;
  background: #ffca3e;
}
/* 타이틀 */
.title {
  width: 60px;
  height: 60px;
  background: #ffca3e;
  position: relative;
  margin: 20px 0;
}
.title h5 {
  height: 60px;
  position: absolute;
  font-size: 27px;
  font-weight: bold;
  display: flex;
  align-items: center;
  left: 30px;
}
.input--box {
  height: 45px;
  display: flex;
  align-items: center;
  width: 400px;
}
.input--box label {
  font-size: 19px;
  font-weight: bold;
  flex: 1;
}
.input--box input {
  font-size: 18px;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  flex: 3;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
.input--box input:focus {
  border-bottom: 2px solid black;
  flex: 4;
}

.nav--active {
  text-decoration: underline;
}
.mypage-left .input--long {
  width: 700px;
}
.input--long input {
  flex: 6;
}
.input--long input:focus {
  flex: 7.7;
}
textarea {
  font-family: "Roboto", sans-serif;
}

/* 모달 */
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-300px);
  }
  100% {
    transform: translateY(0);
  }
}
.modal--container {
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fade-in 0.2s;
}
.modal--box {
  padding: 30px 40px;
  background: #fff;
  display: flex;
  flex-direction: column;
  animation: slide-down 0.24s;
}
.modal--box label {
  margin-bottom: 10px;
}
.modal--box h1 {
  align-self: flex-start;
  font-size: 25px;
  font-weight: bold;
}
.modal--box small {
  color: #006064;
}
.modal--box textarea {
  outline: none;
  font-size: 18px;
  font-family: "san-serif";
  padding: 10px;
  border: none;
  box-sizing: border-box;
  max-width: 400px;
  min-width: 400px;
  max-height: 300px;
  min-height: 300px;
  background: #eee;
}
.modal--box textarea:focus {
  border: 2px solid black;
}
.modal--btn-box {
  display: flex;
  gap: 20px;
  align-self: flex-end;
}
.modal--container .gap {
  height: 30px;
}
.modal--input {
  font-size: 18px;
  height: 30px;
  width: 400px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  background: none;
  transition: all 0.2s ease-in-out;
}
.modal--input:focus {
  box-shadow: 0 5px 0px black;
}
.modal--info {
  font-size: 14px;
  font-weight: bold;
  color: #006064;
  align-self: flex-end;
  margin-top: 10px;
}

/* 픽스토리모달 */
.modal--picstory {
  border-left: 4px solid #e9e9e9;
}
.modal--picstory li {
  margin: 10px 0 10px 20px;
  font-size: 20px;
  cursor: pointer;
  list-style: none;
}
.modal--container .modal--picstory-form h2 {
  font-size: 22px;
  color: #323232;
}
.modal--picstory-box {
  display: flex;
}
.modal--picstory-box input {
  width: 220px;
  border: none;
  border-bottom: 1px solid #000;
  background: none;
  outline: none;
  margin-left: 25px;
}
.modal--sub-title {
  font-size: 19px;
  font-weight: bold;
  margin-top: 20px;
  display: block;
}

/* 작가신청 */
.modal--notice {
  display: flex;
  font-size: 20px;
  align-items: center;
  margin-top: 10px;
}
.modal--notice i {
  font-weight: bold;
}
.modal--notice span {
  flex: 1;
  margin: 10px 20px;
}
.modal--notice p {
  font-weight: bold;
}

.notice-done i,
.notice-done p {
  color: red;
}
.modal--term {
  margin: 10px 0 20px 0;
  width: 400px;
  line-height: 1.4;
  font-size: 17px;
  color: rgb(100, 100, 100);
}
.modal--paycancel-form {
  display: flex;
  flex-direction: column;
}
.modalActive {
  display: flex;
}
