main div,
main span {
  /* border: 1px solid salmon; */
  box-sizing: border-box;
}
.detail--container {
  display: flex;
  width: 1220px;
  margin: 0 auto;
}
.detail--body {
  width: 85%;
}
.detail--navi {
  width: 15%;
}
.detail-gap {
  height: 30px;
}
/*------ .detail--title ------*/

.detail--title,
.detail--2title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail--title a {
  margin-right: 30px;
}

/*------ .detail--1 ------*/

.detail--1 {
  height: 350px;
  /* margin: 20px 0; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
.detail--1,
.detail--2title,
.detail--3 {
  margin-top: 80px;
}
.detail--1 > div {
  height: 100%;
}
.detail--1L {
  width: 65%;
}
.detail--1R {
  width: 35%;
  position: relative;
}

/*------ .detail--image ------*/

.detail--1L > .detail--imageWrapper {
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.detail--imageWrapper img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
  transition: all 0.3s;
}
/* .detail--imageXy {
  가로가 더 긴 사진
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.detail--imagexY {
  세로가 더 긴 사진
  width: auto;
  height: 100%;
  border-radius: 10px;
}
*/

/*------ .detail--label ------*/

.detail--1L > .detail--label {
  height: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.detail--1L .detail--label label,
.detail--2title label {
  cursor: pointer;
}
.detail--2title > span {
  display: flex;
  gap: 20px;
}
.detail--2title .detail--delLabel {
  color: rgb(182, 0, 0);
}

/*------ .detail--1R ------*/

.detail--1R > span {
  display: block;
  height: 80%;
}

/*--- 1, 2, 3 title ---*/
.detail--1R > span > h2,
.detail--2title h2,
.detail--3 > h2 {
  font-size: 27px;
  font-weight: bold;
  /* bold == 700 */
}
.detail--1R > span > h2::after,
.detail--2title > h2::after,
.detail--3 > h2::after {
  content: "";
  display: block;
  width: 70px;
  border-bottom: 5px solid #ffca3e;
  margin-top: 10px;
}

.detail--1R > span > h3 {
  font-size: 18px;
  font-weight: 500;
  padding-top: 50px;
}
.detail--1R > span > a {
  display: block;
  color: gray;
  font-size: 16px;
  padding-top: 20px;
}
.detail--1R > span > h4 {
  font-size: 18px;
  font-weight: 500;
  padding-top: 40px;
}
.detail--1R > span > p {
  color: rgb(196, 51, 51);
  font-size: 20px;
  font-weight: 600;
  padding-top: 40px;
}
.btn--wrappers {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.detail--1 .btn--wrapper button {
  width: 45%;
  height: 100%;
}
.btn-yellowBo {
  border: 3px solid #ffca3e;
  background: white;
  color: black;
}

/*------ .detail--2 ------*/
.detail--2{
  padding: 50px 0 30px 0;
  border-bottom: 5px solid gray;
}
.detail--2 > p{
  display: block;
  width: 100%;
}

/*------ .detail--3 ------*/

.detail--3 > form {
  width: 700px;
  display: flex;
  align-items: flex-end;
}
.detail--3 > form > button {
  display: inline;
}
.detail--3 input {
  width: 500px;
  height: 29px;
  border: none;
  border-bottom: 2px solid #000;
  outline: none;
  transition: all 0.3s;
}
.detail--3 input:focus {
  width: 700px;
}
/*------ .detail--navi ------*/

.detail--navi {
  position: relative;
}
.detail--navi .detail--navi-bar {
  position: sticky;
  top: 100px;
}
.detail--navi > div > a {
  display: block;
  padding: 5px;
  margin-bottom: 15px;
}
.detail--navi > div > a:hover {
  border-bottom: 1px solid #000;
}
.detail--navi > div {
  margin: 0 auto;
  width: 70%;
}

/* 댓글 */
.comment--container {
  width: 100%;
}
.comment--container .comment--item {
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 20px 0 10px 0;
  border-bottom: 1px solid #000;
}
.comment--item .comment-top {
  display: flex;
  justify-content: space-between;
}
.comment-top .comment-user {
  display: flex;
  align-items: center;
  gap: 15px;
}
.comment-user img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.comment-user span {
  font-size: 21px;
}
.comment-remove {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.comment-remove:hover {
  color: red;
}
.comment-remove span {
  font-size: 18px;
}
.comment-remove i {
  font-size: 20px;
}

.comment--item .comment-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.comment-bottom p {
  font-size: 20px;
}
.comment-bottom p::before {
  content: " - ";
}
.comment-bottom .icon-box {
  display: flex;
}
.icon-box .comment-icon {
  cursor: pointer;
  padding: 5px;
}
.comment-icon:hover {
  color: red;
}
.comment-icon small {
}
.comment-icon i {
}
