main div {
  border: 1px solid salmon;
}
main {
  padding: 10px;
}
.detail--title,
.detail--1,
.detail--2,
.detail--3,
.detail--navi {
  margin: 10px;
}
.detail--title {
  display: flex;
}
.detail--logo,
.detail--nextBtn {
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
}
.detail--container {
  display: flex;
}
.detail--body,
.detail--navi {
  flex-wrap: wrap;
}
.detail--body {
  width: 90%;
}
.detail--navi {
  width: 10%;
}
.detail--1 {
  display: flex;
}
.detail--picture,
.detail--price {
  flex-wrap: flex;
  width: 50%;
  margin: 20px;
}
