.main--banner {
  width: 100%;
  height: 350px;
  background-image: url("../../assets/images/banner1.png");
  background-position: 50px 0;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.main--banner .btn--wrapper {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 105px;
  bottom: 35px;
}

.main--category {
  text-align: center;
  margin: 50px auto 50px auto;
  font-size: 23px;
  font-weight: bold;
}

.layout--feed--container {
  width: 1200px;
  margin: 0 auto;
  columns: 3;
  gap: 30px;
}

.feed-item {
  width: 100%;
  margin-bottom: 30px;
  display: inline-block;
}

.arrow--container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.arrow--container i {
  color: #006064;
  margin-top: 50px;
  margin-bottom: 50px;
}

.more {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 250px;
}

.more button {
  font-size: 20px;
  font-weight: bolder;
}

.ad--banner {
  width: 100%;
}

.ad--banner > a > img {
  width: 100%;
}

.layout--shop--container {
  width: 1200px;
  margin: 0 auto;
  background: #000;
  columns: 3;
  gap: 30px;
}

.shop-item {
  width: 100%;
  min-height: 400px;
  background: white;
  margin-bottom: 30px;
  display: inline-block;
}
.feed-item img {
  width: 100%;
}
