.main--banner {
  width: 100%;
  height: 350px;
  background-image: url("../../assets/images/banner1.png");
  background-position: 50px 0;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}

.feed--banner {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  background-image: url("../../assets/images/picfeedbanner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.shop--banner {
  width: 100%;
  height: 350px;
  margin-top: 50px;
  background-image: url("../../assets/images/picshopbanner.jpg");
  background-position: 50px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.btn--wrapper {
  display: flex;
  gap: 20px;
  position: absolute;
  right: 105px;
  bottom: 30px;
  top: 0;
  align-items: flex-end;
}

.btn-big {
  height: 60px;
  border-radius: 5px;
  width: 200px;
  font-size: 24px;
}

.feed--category {
  width: 30%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 45px;
}
.feed--category a {
  color: black;
  text-decoration: none;
}
.feed--category li {
  font-size: 15px;
  line-height: 1.5;
  cursor: pointer;
}

.main--title {
  text-align: center;
  margin: 50px auto 30px auto;
  font-size: 23px;
  font-weight: bold;
  width: 30%;
  display: flex;
  justify-content: space-around;
}

/* PICFEED */
.feed--container {
  width: 1200px;
  margin: 0 auto;
  columns: 3;
  gap: 30px;
}

.feed--item {
  width: 100%;
  margin-bottom: -30px;
  display: inline-block;
  position: relative;
  margin-top: 50px;
}

.feed--summary {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 2px;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
}

.feed--summary h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.feed--summary i {
  position: absolute;
  top: 25px;
  right: 20px;
}

.feed--item:hover .feed--summary {
  opacity: 1;
  transform: scale(1.05);
}

.feed--item:hover img {
  transform: scale(1.05);
}

.feed--item img {
  width: 100%;
  transition: all 0.3s ease-in-out;
}

/* TOP BTN */
.top-arrow {
  position: fixed;
  bottom: 50px;
  right: 80px;
}

.top-arrow i {
  color: #006064;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* MORE BTN */
.more {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 80px;
}

.more button {
  font-size: 20px;
  font-weight: bolder;
}

/* 중간 배너 */
.ad--banner {
  width: 100%;
}

.ad--banner > a > img {
  width: 100%;
}

/* PICSHOP */
.shop--container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}
.shop--item--wrapper {
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.shop--item--wrapper:hover img {
  transform: translateY(-10px);
  box-shadow: 0 10px 10px #999;
}

/* 사진 */
.item-thumb {
  height: 260px;
  background: #eee;
  cursor: pointer;
}

.item-thumb a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-thumb img {
  max-width: 95%;
  max-height: 95%;
  transition: all 0.3s ease-in-out;
}
/* 설명 */
.item-info {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.item-info span {
  font-size: 18px;
  font-weight: bold;
  color: #070707;
}
.item-info strong {
  font-size: 18px;
  font-weight: bold;
  color: #006064;
}
.item-info strong::after {
  content: " ₩";
}

/* 페이징 */

.page_nation_container{

}


.page_nation {
  width: 35%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 3px;
}

.page_nation a {
  border: 1px solid #e6e6e6;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #fff;
  font-size: 13px;
  color: #999999;
  text-decoration: none;
  cursor: pointer;
}
.page_nation .arrow {
  border: 1px solid #ccc;
}
/* .page_nation .pprev {
  background: #f8f8f8 url("../../assets/images/page_pprev.png") no-repeat center
    center;
  margin-left: 0;
} */
.page_nation .prev {
  background: #f8f8f8 url("../../assets/images/page_prev.png") no-repeat center
    center;
  margin-right: 7px;
}
.page_nation .next {
  background: #f8f8f8 url("../../assets/images/page_next.png") no-repeat center
    center;
  margin-left: 7px;
}
/* .page_nation .nnext {
  background: #f8f8f8 url("../../assets/images/page_nnext.png") no-repeat center
    center;
  margin-right: 0;
} */
.page_nation a.active {
  background-color: #42454c;
  color: #fff;
  border: 1px solid #42454c;
}
