<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectFeedListCount">
		SELECT 
		       COUNT(*) LISTCOUNT
		  FROM PHOTOS
		 WHERE PHOTO_STATE = 0 
</entry>

<entry key="loadMain">

</entry>

<entry key="loadFeed">
SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT 
		                       PHOTO_ID
		                     , PHOTO_NAME
		                     , PHOTO_SALE
		                     , PHOTO_PRICE
		                     , PHOTO_CREATEDAT
		                     , PHOTO_STATE
		                     , PHOTO_SRC
		                     , PHOTO_INFO
		                     , PHOTO_UPDATEAT
		                     , CATEGORY_ID
     						 , P.USER_NO
		                     , USER_NAME
		                     , USER_NICKNAME
		                  FROM PHOTOS P
		                  JOIN USERS ON(P.USER_NO = USERS.USER_NO)
		                 WHERE P.PHOTO_STATE = 0
		                 ORDER
		                    BY PHOTO_CREATEDAT DESC
		               ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
</entry>
<entry key="loadFeedCategory">
SELECT *
		  FROM (
		        SELECT
		               ROWNUM RNUM
		             , A.*
		          FROM (
		                SELECT 
		                       PHOTO_ID
		                     , PHOTO_NAME
		                     , PHOTO_SALE
		                     , PHOTO_PRICE
		                     , PHOTO_CREATEDAT
		                     , PHOTO_STATE
		                     , PHOTO_SRC
		                     , PHOTO_INFO
		                     , PHOTO_UPDATEAT
		                     , CATEGORY_ID
     						 , P.USER_NO
		                     , USER_NAME
		                     , USER_NICKNAME
		                  FROM PHOTOS P
		                  JOIN USERS ON(P.USER_NO = USERS.USER_NO)
		                 WHERE P.PHOTO_STATE = 0 AND CATEGORY_ID = ?
		                 ORDER
		                    BY PHOTO_CREATEDAT DESC
		               ) A
		        )
		 WHERE RNUM BETWEEN ? AND ?
</entry>
<entry key="insertPhoto">
	INSERT
	  INTO PHOTOS
	  (
	     PHOTO_ID
	   , PHOTO_NAME
	   , PHOTO_SALE
	   , PHOTO_PRICE
	   , PHOTO_SRC
	   , PHOTO_INFO
	   , PHOTO_UPDATEAT
	   , USER_NO
	   , CATEGORY_ID
	  )
	  values
	  (
	     PHOTO_ID_SEQ.NEXTVAL
	   , ?
	   , ?
	   , ?
	   , ?
	   , ?
	   , SYSDATE
	   , ?
	   , ?
	  )
</entry>
<entry key="selectDetail">
SELECT PHOTO_ID
     , PHOTO_NAME
     , PHOTO_SALE
     , PHOTO_PRICE
     , PHOTO_CREATEDAT
     , PHOTO_STATE
     , PHOTO_SRC
     , PHOTO_INFO
     , PHOTO_UPDATEAT
     , CATEGORY_ID
     , P.USER_NO
     , USER_NAME
     , USER_NICKNAME
FROM PHOTOS P
         JOIN USERS ON (P.USER_NO = USERS.USER_NO)
WHERE P.PHOTO_STATE = 0 AND PHOTO_ID=?
	</entry>
<entry key="selectComment">
SELECT COMMENT_ID
     , COMMENT_CONTENT
     , COMMENT_CREATEDAT
     , COMMENT_UPDATEDAT
     , C.USER_NO
     , USER_NAME
     , USER_NICKNAME
     , PHOTO_ID
FROM PCOMMENTS C
         LEFT JOIN USERS U on C.USER_NO = U.USER_NO
WHERE PHOTO_ID = ?
</entry>
<entry key="declarePhoto">
INSERT INTO DIA.PDECLARE (USER_NO, PHOTO_ID, PDECLARE_REASON, PDECLARE_CREATEDAT)
VALUES (?, ?, ?, SYSDATE)
</entry>
<entry key="deletePhoto">
UPDATE DIA.PHOTOS t
SET t.PHOTO_STATE = 5
WHERE t.PHOTO_ID = ?
</entry>
<entry key="likePhoto">
INSERT INTO DIA.LIKES (USER_NO, PHOTO_ID, LIKE_CREATEDAT)
VALUES (?, ?, DEFAULT);
</entry>
</properties>
