<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button class='btn'></button>
    <button class='btn btn-yellow'></button>
    <button class='btn btn-green'></button>
    <button class='btn btn-pink'></button>
    <button class='btn btn-yellow btn-small'></button>
    <button class='btn btn-green btn-small'></button>
    <button class='btn btn-pink btn-small'></button>
    <button class='btn btn-yellow btn-long'></button>
    <button class='btn btn-green btn-long'></button>
    <button class='btn btn-pink btn-long'></button>
</body>
</html>