<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../assets/css/index.css">
    <link rel="stylesheet" href="../../assets/css/common.css">
</head>
<body>
    <header class='header--container'>
        <div class="header--box">
            <a href="#">
                <img src='../../assets/images/logo.png' width="250px" alt="" />
            </a>
            <div class="header--right">
                <a href="">LOGIN</a>
                <a href="">SIGNUP</a>
            </div>
        </div>
    </header>
    <main class='main--container'>
        <ul class='navigation--main'>
            <a href="">
                <li>PICFEED</li>
            </a>
            <a href="">
                <li>PICSHOP</li>
            </a>
            <a href="">
                <li>ABOUT</li>
            </a>
        </ul>
        
        <!-- 여기에 컨텐츠 작성 -->

    </main>
</body>
</html>