<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="insertComment">
INSERT
INTO PCOMMENTS P
		  (
		     COMMENT_ID
		   , COMMENT_CONTENT
		   , COMMENT_CREATEDAT
		   , COMMENT_UPDATEDAT
		   , P.USER_NO
		   , P.PHOTO_ID
		  )
VALUES ( COMMENT_ID_SEQ.nextval
       , ?
       , SYSDATE
       , SYSDATE
       , ?
       , ?)

</entry>
<entry key="deleteComment">
DELETE
FROM DIA.PCOMMENTS
WHERE COMMENT_ID = ?
</entry>
</properties>