<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/index.css" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>Document</title>
  </head>
  <body>
    <header class="header--container">
      <div class="header--box">
        <a href="#">
          <img src="../../assets/images/logo.png" width="250px" alt="" />
        </a>
        <div class="header--right">
          <a href="">LOGIN</a>
          <a href="">SIGNUP</a>
        </div>
      </div>
    </header>
    <main class="main--container">
      <ul class="navigation--main">
        <a href="">
          <li>PICFEED</li>
        </a>
        <a href="">
          <li>PICSHOP</li>
        </a>
        <a href="">
          <li>ABOUT</li>
        </a>
      </ul>

      <!-- 여기에 컨텐츠 작성 -->
      <div class="main--banner">
        <div class="btn--wrapper">
          <button class="btn btn-outline-pink">SIGN UP</button>
          <button class="btn btn-pink">LOG IN</button>
        </div>
      </div>
      <h2 class="main--category">PICFEED</h2>

      <div class="layout--feed--container">
        <div class="feed-item">
          <img src="../../assets/images/오로라.jpg" alt="" />
        </div>
        <div class="feed-item">
          <!-- <img src="../../assets/images/벨기에 브뤼헤.jpg" alt="" /> -->
        </div>
        <div class="feed-item"></div>
        <div class="feed-item"></div>
        <div class="feed-item"></div>
        <div class="feed-item"></div>
        <div class="feed-item"></div>
        <div class="feed-item"></div>
      </div>

      <div class="more">
        <a href=""><button class="btn btn-outline-green">MORE</button> </a>
      </div>

      <div class="ad--banner">
        <a href="">
          <img src="../../assets/images/adbanner.jpg" alt="" />
        </a>
      </div>

      <div class="layout--shop--container">
        <h2 class="main--category">PICSHOP</h2>
        <div class="shop--list--container">
          <div class="shop-item">
            <img src="../../assets/images/오로라.jpg" alt="" />
          </div>
          <div class="shop-item-wrapper">
            <div class="item-thumb-wrapper">
              <img class="item-thumb-center" src="" alt="" srcset="" />
            </div>
            <div class="item-info-wrapper">
              <div class="item-title">풀문</div>
              <div class="item-price">100,000</div>
            </div>
          </div>
          <div class="shop-item">1</div>
          <div class="shop-item">2</div>
          <div class="shop-item">3</div>
          <div class="shop-item">4</div>
          <div class="shop-item">5</div>
          <div class="shop-item">6</div>
        </div>
      </div>

      <div class="more">
        <a href=""><button class="btn btn-outline-green">MORE</button> </a>
      </div>

      <div class="arrow--container">
        <a href="#">
          <i class="fas fa-arrow-circle-up fa-3x"> </i>
        </a>
      </div>
    </main>
  </body>
</html>
