<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/index.css" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>PICFEED | DEVELOPIC</title>
  </head>
  <body>
    <header class="header--container">
      <div class="header--box">
        <a href="#">
          <img src="../../assets/images/logo.png" width="250px" alt="" />
        </a>
        <div class="header--right">
          <a href="">LOGIN</a>
          <a href="">SIGNUP</a>
        </div>
      </div>
    </header>
    <main class="main--container">
      <ul class="navigation--main">
        <a href="">
          <li>PICFEED</li>
        </a>
        <a href="">
          <li>PICSHOP</li>
        </a>
        <a href="">
          <li>ABOUT</li>
        </a>
      </ul>

      <!-- 여기에 컨텐츠 작성 -->
      <div class="feed--banner">
        <div class="btn--wrapper">
          <button class="btn btn-blue btn-big">🌊 SHAKE PIC</button>
        </div>
      </div>
      <h2 class="main--title">PICFEED</h2>
      <ul class="feed--category">
        <a href="">
          <li>ALL</li>
        </a>
        <a href="">
          <li>ANIMALS</li>
        </a>
        <a href="">
          <li>PEOPLE</li>
        </a>
        <a href="">
          <li>URBAN</li>
        </a>
        <a href="">
          <li>NATURE</li>
        </a>
        <a href="">
          <li>ETC</li>
        </a>
      </ul>
      <div class="feed--container">
        <div class="feed--item">
          <img src="../../assets/images/오로라.jpg" alt="" />
        </div>
        <div class="feed--item">
          <img src="../../assets/images/apply.jpg" alt="" />
        </div>
        <div class="feed--item">
          <img src="../../assets/images/adbanner.jpg" alt="" />
        </div>
        <div class="feed--item">
          <img src="../../assets/images/picfeedbanner.jpg" alt="" />
        </div>
        <div class="feed--item">
          <img src="../../assets/images/오로라.jpg" alt="" />
        </div>
        <div class="feed--item">
          <img src="../../assets/images/logo.png" alt="" />
        </div>
        <div class="feed--item">
          <img src="../../assets/images/picshopbanner.jpg" alt="" />
        </div>
        <div class="feed--item">
          <img src="../../assets/images/adbanner.jpg" alt="" />
        </div>
        <div class="feed--item">
          <img src="../../assets/images/picfeedbanner.jpg" alt="" />
        </div>
        <div class="feed--item">
          <img src="../../assets/images/오로라.jpg" alt="" />
        </div>
        <div class="feed--item">
          <img src="../../assets/images/picfeedbanner.jpg" alt="" />
        </div>
        <div class="feed--item">
          <img src="../../assets/images/오로라.jpg" alt="" />
        </div>
        <div class="feed--item">
          <img src="../../assets/images/apply.jpg" alt="" />
        </div>
        <div class="feed--item">
          <img src="../../assets/images/adbanner.jpg" alt="" />
        </div>

        <!--
START MODULE AREA 5: Lightbox
-->
        <section class="MOD_LIGHTBOXIMGX4">
          <div data-layout="_r">
            <div data-layout="al8 de4">
              <a
                href="https://unsplash.it/800/600?image=55"
                class="AP_lightbox"
                aria-haspopup="true"
              >
                <figure>
                  <img src="https://unsplash.it/300/300?image=55" alt="" />
                  <figcaption>Fig1. Image Caption</figcaption>
                </figure>
              </a>
            </div>
            <div data-layout="al8 de4">
              <a
                href="https://unsplash.it/800/600?image=56"
                class="AP_lightbox"
                aria-haspopup="true"
              >
                <figure>
                  <img src="https://unsplash.it/300/300?image=56" alt="" />
                  <figcaption>Fig2. Image Caption</figcaption>
                </figure>
              </a>
            </div>
          </div>
        </section>
        <!--
END MODULE AREA 5: Lightbox
-->

        <!--  -->
        <div class="grid">
          <figure class="effect-kira">
            <img
              src="https://tympanus.net/Development/HoverEffectIdeas/img/17.jpg"
            />
            <figcaption>
              <h2>"Dark "<span>Kira</span></h2>
              <p>
                <a href="#"><i class="fa fa-fw fa-home"></i></a>
                <a href="#"><i class="fa fa-fw fa-heart"></i></a>

                <a href="#"><i class="fa fa-fw fa-share"></i></a>
              </p>
            </figcaption>
          </figure>
        </div>

        <div class="grid">
          <figure class="effect-terry">
            <img
              src="https://tympanus.net/Development/HoverEffectIdeas/img/17.jpg"
            />
            <figcaption>
              <h2>"Noisy "<span>Terry</span></h2>
              <p>
                <a href="#"><i class="fa fa-fw fa-home"></i></a>
                <a href="#"><i class="fa fa-fw fa-heart"></i></a>
                <a href="#"><i class="fa fa-fw fa-share"></i></a>
                <a href="#"><i class="fa fa-fw fa-tag"></i></a>
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="feed--item"></div>
        <div class="feed--item"></div>
        <div class="feed--item"></div>
      </div>
      <div class="arrow--container">
        <a href="#">
          <i class="fas fa-arrow-circle-up fa-3x"> </i>
        </a>
      </div>
    </main>
  </body>
</html>
