<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/css/index.css" />
    <link rel="stylesheet" href="../../assets/css/common.css" />
    <link rel="stylesheet" href="../../assets/css/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    />
    <title>PICSHOP | DEVELOPIC</title>
  </head>
  <body>
    <header class="header--container">
      <div class="header--box">
        <a href="#">
          <img src="../../assets/images/logo.png" width="250px" alt="" />
        </a>
        <div class="header--right">
          <a href="">LOGIN</a>
          <a href="">SIGNUP</a>
        </div>
      </div>
    </header>
    <main class="main--container">
      <ul class="navigation--main">
        <a href="">
          <li>PICFEED</li>
        </a>
        <a href="">
          <li>PICSHOP</li>
        </a>
        <a href="">
          <li>ABOUT</li>
        </a>
      </ul>

      <!-- 여기에 컨텐츠 작성 -->
      <div class="shop--banner">
        <div class="btn--wrapper">
          <button class="btn btn-outline-green">PROFILE</button>
          <button class="btn btn-green">MYPAGE</button>
        </div>
      </div>

      <h2 class="main--title">PICSHOP</h2>
      <ul class="feed--category">
        <a href="">
          <li>ALL</li>
        </a>
        <a href="">
          <li>ANIMALS</li>
        </a>
        <a href="">
          <li>PEOPLE</li>
        </a>
        <a href="">
          <li>URBAN</li>
        </a>
        <a href="">
          <li>NATURE</li>
        </a>
        <a href="">
          <li>ETC</li>
        </a>
      </ul>
      <div class="shop--container">
        <div class="shop--item--wrapper">
          <div class="item-thumb">
            <img src="../../assets/images/오로라.jpg" alt="" />
          </div>
          <div class="item-info">
            <span>풀문</span>
            <strong>100,000</strong>
          </div>
        </div>
        <div class="shop--item--wrapper">
          <div class="item-thumb">
            <img src="../../assets/images/adbanner.jpg" alt="" srcset="" />
          </div>
          <div class="item-info">
            <span>풀문</span>
          </div>
        </div>
        <div class="shop--item--wrapper">
          <div class="item-thumb">
            <img src="../../assets/images/picfeedbanner.jpg" alt="" srcset="" />
          </div>
          <div class="item-info">
            <span>풀문</span>
            <strong>100,000</strong>
          </div>
        </div>
        <div class="shop--item--wrapper">
          <div class="item-thumb">
            <img src="../../assets/images/오로라.jpg" alt="" />
          </div>
          <div class="item-info">
            <span>풀문</span>
            <strong>100,000</strong>
          </div>
        </div>
        <div class="shop--item--wrapper">
          <div class="item-thumb">
            <img src="../../assets/images/오로라.jpg" alt="" />
          </div>
          <div class="item-info">
            <span>풀문</span>
            <strong>100,000</strong>
          </div>
        </div>
        <div class="shop--item--wrapper">
          <div class="item-thumb">
            <img src="../../assets/images/오로라.jpg" alt="" />
          </div>
          <div class="item-info">
            <span>풀문</span>
            <strong>100,000</strong>
          </div>
        </div>
        <div class="shop--item--wrapper">
          <div class="item-thumb">
            <img src="../../assets/images/오로라.jpg" alt="" />
          </div>
          <div class="item-info">
            <span>풀문</span>
            <strong>100,000</strong>
          </div>
        </div>
        <div class="shop--item--wrapper">
          <div class="item-thumb">
            <img src="../../assets/images/picshopbanner.jpg" alt="" srcset="" />
          </div>
          <div class="item-info">
            <span>풀문</span>
            <strong>100,000</strong>
          </div>
        </div>
      </div>
      <!-- 사진 추가 시 목록에 올라가는 순서 변경 필요 -->

      <!-- 페이징 처리 -->

      <div class="page_nation">
        <!-- <a class="arrow pprev" href="#"></a> -->
        <a class="arrow prev" href="#"></a>
        <a href="#" class="active">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
        <a href="#">4</a>
        <a href="#">5</a>
        <a class="arrow next" href="#"></a>
        <!-- <a class="arrow nnext" href="#"></a> -->
      </div>

      <div class="arrow--container">
        <a href="#">
          <i class="fas fa-arrow-circle-up fa-3x"> </i>
        </a>
      </div>
    </main>
  </body>
</html>
