.mypage-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.mypage-container .mypage-left {
  flex: 7;
}
.mypage-container .mypage-right {
  flex: 2;
}

.right-nav {
  padding-top: 60px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 100px;
}
.right-nav li {
  color: #707070;
  line-height: 2.3;
}
.right-nav li:hover {
  text-decoration: underline;
}

.mypage--item-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.common--item-box {
  width: 48%;
  height: 150px;
  margin-bottom: 40px;
  display: flex;
}
.item-box-small {
  height: 100px;
}
.common--img-box {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.common--img-box img {
  max-height: 100%;
  max-width: 100%;
  cursor: pointer;
  transition: all 0.3s;
}
.common--img-box img:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 10px gray;
}
.common--img-box button {
  margin-right: 10px;
}
.common--summary {
  width: 50%;
  border-left: 4px solid #999;
  margin: 5px 0;
  padding: 10px 0 10px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.common--summary h3 {
  color: #006064;
}
.common--summary em {
  font-size: 25px;
}
.common--summary em::after {
  content: "₩";
}
.common--summary h2 {
  font-size: 18px;
  font-weight: bold;
}
.common--summary div {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
  align-items: center;
}
.common--summary div span {
  font-weight: bold;
  color: #006064;
}
.common--summary div button {
  width: 70px;
  height: 25px;
}
.common--summary p {
  display: flex;
  justify-content: space-between;
}
.common--summary p span {
  font-weight: bold;
}
.common--summary p span::after {
  content: " ₩";
}
.common--summary p small {
  font-size: 14px;
}
