.mypage-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
}
.mypage-container .mypage-left {
  flex: 7;
}
.mypage-container .mypage-right {
  flex: 2;
  position: relative;
}
.mypage-nav {
  position: sticky;
  top: 100px;
}
