.gapper {
  height: 30px;
}

.sub--label {
  font-size: 19px;
  font-weight: bold;
}
.avatar-img {
  max-width: 300%;
  min-height: 100%;
}
.avatar--wrapper {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.artist-info--inut {
  resize: none;
  margin-left: 100px;
  width: 600px;
  height: 300px;
}
.btn-wrapper {
  margin: 20px auto 0 390px;
  display: flex;
  gap: 20px;
}
#img-select {
  margin-left: 24px;
}
