<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DeveloPic | SIGN</title>
    <link rel="stylesheet" href="../../../assets/css/login.css" />
    <link rel="stylesheet" href="../../../assets/css/common.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div class="container" id="app">
      <!-- Sign Up -->
      <div class="container__form container--signup">
        <form action="#" method="POST" class="form" id="form1">
          <h2 class="form__title">회원가입</h2>
          <input type="text" placeholder="ID" name="id" class="input" />
          <input
            type="password"
            placeholder="PASSWORD"
            name="pwd"
            class="input"
          />
          <input type="password" placeholder="PASSWORD-CHECK" class="input" />
          <input type="email" placeholder="EMAIL" name="email" class="input" />
          <input type="text" placeholder="NAME" name="username" class="input" />
          <span class="password--error">동일한 비밀번호를 확인해주세요</span>
          <button class="login-btn">회원가입</button>
        </form>
      </div>

      <!-- Sign In -->
      <div class="container__form container--signin">
        <form action="#" method="POST" class="form" id="form2">
          <h2 class="form__title">로그인</h2>
          <input type="email" placeholder="id" name="id" class="input" />
          <input
            type="password"
            placeholder="Password"
            name="pwd"
            class="input"
          />
          <span @click="setFindIdOpen">아이디가 기억나지 않으세요?</span>
          <button class="login-btn">로그인</button>
          <a class="login-btn" href="../../main/main.html"> 홈으로 </a>
        </form>
      </div>

      <!-- Overlay -->
      <div class="container__overlay">
        <div class="overlay">
          <div class="overlay__panel overlay--left">
            <button class="login-btn" id="signIn">로그인</button>
          </div>
          <div class="overlay__panel overlay--right">
            <button class="login-btn" id="signUp">회원가입</button>
          </div>
        </div>
      </div>

      <!-- 아이디찾기 -->
      <div class="modal--container" :class="{modalActive:findIdModal}">
        <form class="modal--box modal--login">
          <h2 class="form__title">아이디찾기</h2>
          <input type="email" placeholder="EMAIL" name="id" class="input" />
          <input type="text" placeholder="NAME" name="pwd" class="input" />
          <div>
            <button class="login-btn" @click="setFindIdOpen">닫기</button>
            <button class="login-btn">찾기</button>
          </div>
        </form>
      </div>
    </div>

    <script src="../../../assets/js/login/index.js" defer></script>
    <script src="../../../assets/js/mypage/index.js"></script>
  </body>
</html>
