<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DeveloPic | SIGN</title>
    <link rel="stylesheet" href="../../../assets/css/login.css">
</head>
<body>
    <div class="container right-panel-active">
        <!-- Sign Up -->
        <div class="container__form container--signup">
            <form action="#" method="POST" class="form" id="form1">
                <h2 class="form__title">회원가입</h2>
                <input type="text" placeholder="ID" name='id' class="input" />
                <input type="password" placeholder="PASSWORD" name='pwd' class="input" />
                <input type="password" placeholder="PASSWORD-CHECK" class="input" />
                <input type="email" placeholder="EMAIL" name='email' class="input" />
                <input type="text" placeholder="NAME" name='username' class="input" />
                <span class="password--error">동일한 비밀번호를 확인해주세요</span>
                <button class="btn">회원가입</button>
            </form>
        </div>

        <!-- Sign In -->
        <div class="container__form container--signin">
            <form action="#" method="POST" class="form" id="form2">
                <h2 class="form__title">로그인</h2>
                <input type="email" placeholder="id" name='id' class="input" />
                <input type="password" placeholder="Password" name='pwd' class="input" />
                <button class="btn">로그인</button>
                <a class="btn" href="../../main/main.html">
                    홈으로
                </a>
            </form>
        </div>

        <!-- Overlay -->
        <div class="container__overlay">
            <div class="overlay">
                <div class="overlay__panel overlay--left">
                    <button class="btn" id="signIn">로그인</button>
                </div>
                <div class="overlay__panel overlay--right">
                    <button class="btn" id="signUp">회원가입</button>
                </div>
            </div>
        </div>
    </div>
    <script src="../../../assets/js/login/index.js" defer></script>
</body>
</html>